#profit{
    background-color: #32CD32;
    margin-top: 32%;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#loss{
    background-color:  red;
    margin-top: 32%;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}